<center>
    <h2><%= action_admin %></h2>
<center>

<% if @admin.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <ul>
            <% @admin.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<div class="x_panel">
    <div class="x_content" style="display: block;">
        <br>
        <%= form_with(model: [:admins_backoffice, @admin ], local: true) do |form| %>
            <div class="item form-group">
                <%= form.label :email, class:"col-form-label col-md-3 col-sm-3 label-align" %>
                <span class="required">*</span>
                <div class="col-md-6 col-sm-6 ">
                    <%= form.text_field :email, required:"required", class:"form-control" %>
                </div>
            </div>
            <div class="item form-group">
                <%= form.label :password, class:"col-form-label col-md-3 col-sm-3 label-align" %>
                <span class="required">*</span>
                <div class="col-md-6 col-sm-6 ">
                    <%= form.text_field :password, required:"required", class:"form-control" %>
                </div>
            </div>
            <div class="item form-group">
                <%= form.label :password_confirmation, class:"col-form-label col-md-3 col-sm-3 label-align" %>
                <span class="required">*</span>
                <div class="col-md-6 col-sm-6 ">
                    <%= form.text_field :password_confirmation, required:"required", class:"form-control" %>
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="item form-group">
                <div class="col-md-12 col-sm-6 offset-md-3">
                    <%= link_to admins_backoffice_admins_path, class:"btn btn-danger", type:"button" do %>
					    Cancelar
					<% end %>
                    <button class="btn btn-primary" type="reset">Resetar</button>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </div>
        <% end %>
    </div>
</div>