<!DOCTYPE html>
<html>
  <head>
    <title>TimeToAnswer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
    <% if notice %>
      <script>
        $.bootstrapGrowl("<%= notice %>", {
          type: 'success', // (null, 'info', 'danger', 'success')
          align: 'center', // ('left', 'right', or 'center')
          allow_dismiss: true, // If true then will display a cross to close the popup.
          stackup_spacing: 10 // spacing between consecutively stacked growls.
        });
      </script>
    <% end %>
  </body>
</html>