<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <title>TimeToAnswer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'admins_backoffice' %>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
          <div class="left_col scroll-view">
            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <%= image_tag 'user.png', alt:"...", class:"img-circle profile_img" %>
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2><%= current_user.email %></h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>Geral</h3>
                <ul class="nav side-menu">
                  <li>
                    <%= link_to users_backoffice_welcome_index_path do %>
                      <i class="fa fa-bar-chart"></i> Dashboards
                    <% end %>
                  </li>
                  <li>
                    <%= link_to "#" do %>
                      <i class="fa fa-users"></i> Usuários
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
              <div class="nav toggle">
                <br><br>
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
              <nav class="nav navbar-nav navbar-right">
                <ul class="navbar-right">
                  <li class="nav-item dropdown open" style="padding-left: 15px;">
                    <center>
                      <a class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                        <%= image_tag 'user.png', alt:"" %>
                        <%= current_user.email %>
                      </a>
                    <center>
                    <a>
                      <%= link_to destroy_user_session_path, method: :delete do %>
                        <i class="fa fa-sign-out"></i>
                        Sair
                      <% end %>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <%= yield %>
        </div>
        <!-- /page content -->
      </div>
    </div>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'admins_backoffice' %>

    <% if notice %>
      <% javascript_tag do %>
        $.bootstrapGrowl("<%= notice %>", {
          type: 'success', // (null, 'info', 'danger', 'success')
          align: 'right', // ('left', 'right', or 'center')
          allow_dismiss: true, // If true then will display a cross to close the popup.
          stackup_spacing: 10 // spacing between consecutively stacked growls.
        });
      <% end %>
    <% end %>
  </body>
</html>